# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.app
*.ipa
*.apk
*.aab
*.hprof
*.xcarchive
*.xcuserstate
*.dSYM.zip
*.dSYM

# iOS
ios/
ios/build/
ios/Pods/
ios/DerivedData/
ios/*.xcworkspace/xcuserdata/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/

# Android
android/
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/captures/
android/gradle/
android/gradlew
android/gradlew.bat

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# EAS
dist/
build-*.tar.gz

# Maestro
.maestro/logs/
.maestro/tests/
artifacts/

# Cursor
.cursor/rules/
